<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appLanguage">
      <h2 data-cy="appLanguageDetailsHeading"><span>App Language</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appLanguage.id }}</span>
        </dd>
        <dt><span>Uuid</span></dt>
        <dd>
          <span>{{ appLanguage.uuid }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ appLanguage.name }}</span>
        </dd>
        <dt><span>Direction</span></dt>
        <dd>
          <span>{{ appLanguage.direction }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-language', appLanguage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
