<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appBaseTable">
      <h2 data-cy="appBaseTableDetailsHeading"><span>App Base Table</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appBaseTable.id }}</span>
        </dd>
        <dt><span>Uuid</span></dt>
        <dd>
          <span>{{ appBaseTable.uuid }}</span>
        </dd>
        <dt><span>View Config</span></dt>
        <dd>
          <span>{{ appBaseTable.viewConfig }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-base-table', appBaseTable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
